################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YoutubeLearningVideos/FileContentIndex
/.vs/YoutubeLearningVideos/v17
